.header {
  background-color: var(--cor-verde-escuro);
  padding: 20px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  /* Oculto por padrão em telas maiores */
}

.nav {
  display: flex;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;  
  gap: 30px;
  
}
.navItem {
  cursor: pointer;
}


.navLink{
  font-size: 1rem;
  text-decoration: none;
  color: var(--cor-verde-claro);
  overflow-x: hidden;
}
.navLink svg{
  margin-right: 5px;
}
/* Estilos para telas menores (responsividade) */
@media (max-width: 768px) {
  .menuButton {
    display: block;
    /* Mostra o botão do menu em telas menores */
  }
  .logo h1{
    font-size: 0px;
  }
  .nav {
    display: none;
    /* Oculta o menu em telas menores por padrão */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    /* Ajuste conforme necessário */
    left: 0;
    background-color: var(--cor-verde-musgo);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;
  }

  .navOpen {
    display: flex;
    /* Mostra o menu quando o botão é clicado */
  }

  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin: 10px 0;
  }
}